<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .tab {
            overflow: auto;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
    <a class="navbar-brand" href="/home">
        <i class="fa fa-home fa-lg"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-sm-end" id="navbarSupportedContent">
        <form id="frmLogout" action="/account/logout" method="post"></form>
        <ul class="navbar-nav">
            {{#if lcIsAuthenticated}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Welcome, {{lcAuthUser.f_Name}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/account/profile/{{lcAuthUser.f_ID}}">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Account Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout
                    </a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/account/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account/register">Register</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<body>
    <div class="tab overflow-auto">
        <button class="tablinks" onclick="openCity(event, 'category')" id="defaultOpen">CATEGORY</button>
        <button class="tablinks" onclick="openCity(event, 'users')">USERS</button>
    </div>
    <!-- Tab content -->
    <div id="category" class="tabcontent">
        <button type="button" class="btn btn-success float-right add-cat">Add</button>
        <div class="table-responsive table-hover">
            <table class="table table-bordered" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th style="width: 5%;text-align: center;vertical-align: middle;"
                            class=" bg-info font-weight-bold">STT</th>
                        <th style="width: 5%;text-align: center;vertical-align: middle;"
                            class=" bg-info font-weight-bold">CatID</th>
                        <th style="width: 50%;vertical-align: middle;" class=" bg-info font-weight-bold">Category Name
                        </th>
                        <th style="width: 15%;text-align: center;vertical-align: middle;"
                            class=" bg-info font-weight-bold">Product</th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.cats}}
                    <tr>
                        <td style="text-align: center;vertical-align: middle;">{{@index}}</td>
                        <td style="text-align: center;vertical-align: middle;">{{CatID}}</td>
                        <td style="vertical-align: middle;">{{CatName}}</td>
                        <td style="text-align: center;vertical-align: middle;">{{COUNT}}</td>
                        <td>
                            <div class=" float-right">
                                <button type="button" class="btn btn-info edit-cat" value="{{CatID}}">Edit</button>
                                <button type="button" class="btn btn-danger delete-cat" value="{{CatID}}">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div id="users" class="tabcontent">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">STT
                        </th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">ID</th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">USER
                            NAME</th>
                        <th style="width: 25%;vertical-align: middle;" class=" bg-info font-weight-bold">Name</th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">Email
                        </th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">DOB
                        </th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">
                            Permission</th>
                        <th style="text-align: center;vertical-align: middle;" class=" bg-info font-weight-bold">Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.users}}
                    <tr>
                        <td style="text-align: center;vertical-align: middle;">{{@index}}</td>
                        <td style="text-align: center;vertical-align: middle;">{{f_ID}}</td>
                        <td style="vertical-align: middle;">{{f_Username}}</td>
                        <td style="vertical-align: middle;">{{f_Name}}</td>
                        <td style="vertical-align: middle;">{{f_Email}}</td>
                        <td style="text-align: center;vertical-align: middle;">{{f_DOB}}</td>
                        <td style="text-align: center;vertical-align: middle;">
                            {{#role f_Permission}}{{/role}}
                        </td>
                        <td>
                            {{#if (neq COUNT 0)}}
                            <div class=" float-right">
                                <button type="button" class="btn btn-info edit-user" value="{{f_ID}}">Edit</button>
                            </div>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById("defaultOpen").click();
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <div id="user-dialog" title="Edit User">
        <form id="upform">
            <fieldset>
                <div>
                    <label for="name">ID</label>
                    <input type="text" class="float-right" style="text-align: center;" id="uid_dialog" disabled>
                </div>
                <div>

                    <label for="name">Permission</label>
                    <select name="permission" id="upermission"
                        class=" form-control-sm-1 input-group-text float-right browser-default justify-content-end  ">
                        <option value='0'>Bidder</option>
                        <option value='1'>Seller</option>
                    </select>
                </div>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>

    </div>
    <div id="catadd-dialog" title="Add New Category">
        <form id="cataddform">
            <fieldset>
                <div>
                    <label for="name">ID</label>
                    <input type="text" class="float-right" style="text-align: center;" id="catid_add_dialog">
                </div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" class="float-right" style="text-align: center;" id="catname_add_dialog">
                </div>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <div id="catedit-dialog" title="Edit Category">
        <form id="cateditform">
            <fieldset>
                <div>
                    <label for="name">ID</label>
                    <input type="text" class="float-right" style="text-align: center;" id="catid_edit_dialog" disabled>
                </div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" class="float-right" style="text-align: center;" id="catname_edit_dialog">
                </div>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        catadddialog = $(`#catadd-dialog`).dialog({
            autoOpen: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Confirm": function () {
                    const catid = $('#catid_add_dialog').val();
                    const catname = $(`#catname_add_dialog`).val();
                    catadddialog.dialog("close");
                    $.post(`/admin/add-cat`, {
                        CatID: catid,
                        CatName: catname,
                    }, (data, textStatus, jqXHR) => {
                        alert(data);
                        if (jqXHR.status === 200) {
                            window.location.reload();
                        }
                    });

                },
                Cancel: function () {
                    catadddialog.dialog("close");
                }
            },
            close: function () {
                $('#cataddform').trigger("reset");
            }
        });
        cateditdialog = $(`#catedit-dialog`).dialog({
            autoOpen: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Confirm": function () {
                    const catid = $('#catid_edit_dialog').val();
                    const catname = $(`#catname_edit_dialog`).val();
                    cateditdialog.dialog("close");
                    $.post(`/admin/edit-cat`, {
                        CatID: catid,
                        CatName: catname,
                    }, (data, textStatus, jqXHR) => {
                        alert(data);
                        if (jqXHR.status === 200) {
                            window.location.reload();
                        }
                    });

                },
                Cancel: function () {
                    cateditdialog.dialog("close");
                }
            },
            close: function () {
                $('#cateditform').trigger("reset");
            }
        });
        udialog = $(`#user-dialog`).dialog({
            autoOpen: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Confirm": function () {
                    const uid = $('#uid_dialog').val();
                    const per = $(`#upermission`).val();
                    udialog.dialog("close");
                    $.post(`/admin/up-user`, {
                        user_id: uid,
                        f_Permission: per,
                    }, (data, textStatus, jqXHR) => {
                        alert(data);
                        if (jqXHR.status === 200) {
                            window.location.reload();
                        }
                    });

                },
                Cancel: function () {
                    udialog.dialog("close");
                }
            },
            close: function () {
                $('#upform').trigger("reset");
            }
        });
        $(`.edit-user`).on(`click`, function () {
            $('#uid_dialog').val($(this).attr(`value`));
            udialog.dialog("open");
        });
        $(`.add-cat`).on(`click`, function () { 
            catadddialog.dialog("open");
        });
        $(`.edit-cat`).on(`click`, function () {
            $('#catid_edit_dialog').val($(this).attr(`value`));
            cateditdialog.dialog("open");
        });
        $(`.delete-cat`).on(`click`, function () {
            const UID = $(this).attr(`value`);
            console.log(UID);
            $.post(`/admin/remove-cat`, {
                catId: UID,
            }, (data, textStatus, jqXHR) => {
                alert(data);
                if (jqXHR.status === 200) {
                    window.location.reload();
                }
            });
        });
    </script>
</body>

</html>