<!--<div class="card">-->
<!--    <div class="card-header">-->
<!--        <h4>Product Detail</h4>-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        {{{this.product.FullDes}}}-->
<!--        {{{this.product.ProID}}}-->
<!--    </div>-->
<!--</div>-->

{{#section 'css'}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        .cube {
            width: 200px;
            height: 350px;
            margin-bottom: 200px;
        }

        .padded {
            padding-left: 1%;
            padding-top: 5%;
        }
    </style>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.similar-carousel').slick({
                slidesToShow: 3,
                infinite: true,
                dots: true,
                lazyLoad: 'ondemand',
                arrows: true,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });

            $('.img-carousel').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
            });

            $('div.rate').rateYo({
                starWidth: "20px",
                maxValue: 5,
                step: 0.5,
                halfStar: true,
                readOnly: true
            });
            $('#seller-rating').rateYo("option", "rating", $('#seller-rating').attr('rating'));
            $('#bidder-rating').rateYo("option", "rating", $('#bidder-rating').attr('rating'));

        });
        $('#bidPrice').change(function () {
            var max = parseInt($(this).attr('max'));
            var min = parseInt($(this).attr('min'));
            if ($(this).val() > max) {
                $(this).val(max);
            } else if ($(this).val() < min) {
                $(this).val(min);
            }
        });

        $('#addFavBtn').click(function () {
            $.post("/addToFavorite", {
                user: $('#userStore').val(),
                product: $('#productStore').val(),
            }, (data) => {
                alert(data);
            });
        });

        function changeShow(src) {
            $('#show-img').attr({"src": `/public/imgs/sp/${src}`});
        }

        $('#bidBtn').on('click', function () {
            const bidPrice = $(`#bidPrice`).val();
            $('#message-p').html(`<p>Are you sure placing bid (value: ${bidPrice} vnd) on this product?</p>`);
            $(`#bid-dialog`).dialog('open');
        });

        $(`#historyShowBtn`).on('click', function () {
            $(`#history-dialog`).dialog(`open`);
        });

        $(`.ban-user`).on('click', function () {
            $(`#banIdStore`).val($(this).attr('val'));
            $(`#ban-message-p`).html('<p>Are you sure banning this user?</p>');
            $('#ban-dialog').dialog(`open`);
        });

        $(function () {
            $(`#bid-dialog`).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Confirm": function () {
                        $(this).dialog("close");
                        $.post(`/bid`, {
                            user: $(`#userStore`).val(),
                            product: $(`#productStore`).val(),
                            price: $(`#bidPrice`).val(),
                        }, (data, textStatus, jqXHR) => {
                            alert(data);
                            if (jqXHR.status === 200) {
                                window.location.reload(true);
                            }
                        });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
            $(`#ban-dialog`).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Confirm": function () {
                        $(this).dialog("close");
                        $.post(`/account/ban`, {
                            user: $(`#banIdStore`).val(),
                            product: $(`#productStore`).val(),
                        }, (data, textStatus, jqXHR) => {
                            alert(data);
                            if (jqXHR.status === 200) {
                                window.location.reload(true);
                            }
                        });
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(`#history-dialog`).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                maxHeight: window.innerHeight - 200,
                overflow: 'scroll',
                modal: true,
                autoOpen: false,
                show: {effect: 'fade', speed: 1000},
                hide: {effect: 'fade', speed: 1000},
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
            });
        })
    </script>
{{/section}}

<input type="hidden" id="userStore" value={{lcAuthUser.f_ID}}>
<input type="hidden" id="productStore" value={{this.product.ProID}}>
<input type="hidden" id="banIdStore">
<!-- Start your project here-->
<div id="bid-dialog" title="Are you sure?">
    <p id="message-p"></p>
</div>
<div id="ban-dialog" title="Are you sure?">
    <p id="ban-message-p"></p>
</div>
<div id="history-dialog" title="Bid History">
    <div style="margin-top: 1%; width: 100%;">
        <div class="p2">
            {{#if this.history}}
                <div>
                    <table class="table table-striped overflow-auto" style="border: 1px solid black">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Bidder</th>
                            <th scope="col">Bid</th>
                            {{#if (isSeller lcAuthUser)}}
                                {{#if (isSameId lcAuthUser this.seller)}}
                                    <th scope="col">Ban</th>
                                {{/if}}
                            {{/if}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#each this.history}}
                            <tr>
                                <th scope="col">{{#getSimpleDate date}}{{/getSimpleDate}}</th>
                                <th scope="col">{{#maskString user.f_Name}}{{/maskString}}</th>
                                <th scope="col">{{bid_money}}</th>
                                {{#if (isSeller ../lcAuthUser)}}
                                    {{#if (isSameId ../lcAuthUser ../this.seller)}}
                                        <th scope="col">
                                            <button class="btn btn-danger ban-user" type="button" val="{{user.f_ID}}">X
                                            </button>
                                        </th>
                                    {{/if}}
                                {{/if}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{else}}
                <div>No History</div>
            {{/if}}

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="card" style="width: 100%; margin-left: 2%; margin-right: 2%">
            <div class="card-body rounded-bottom rounded-top">
                <h2 class="card-title">
                    {{this.product.ProName}}
                </h2>
                <div class="row" style="margin-left: 0.1%;">
                    <div class="col-sm-12 col-lg-4" style="margin-top: 1%">
                        <img id="show-img" src="/public/imgs/sp/{{this.product.ProID}}/main.jpg"
                             style="width: 100%; height: auto">
                        <div class='d-flex justify-content-between img-carousel' style="margin-top: 1%">
                            {{#each this.imgs}}
                                <div class="hoverable" style="max-width: 32%;"><img
                                        src="/public/imgs/sp/{{this}}"
                                        style="height: auto; width: 100%" onclick="changeShow('{{this}}')"/></div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4" style="margin-top: 1%">
                        <div class="justify-content-between winter-neva-gradient">

                            <h4 style="margin-bottom: 0"><b>Seller: </b><a id="seller"
                                                                           href="/account/review/{{this.seller.f_ID}}">{{#if
                                    (isSeller lcAuthUser)}}{{this.seller.f_Name}} {{else}} {{#maskString
                                    this.seller.f_Name}}{{/maskString}} {{/if}} </a>
                                {{#if lcIsAuthenticated}}
                                    <a href="/account/write_review?to={{this.seller.f_ID}}">
                                    <i class="material-icons">
                                        thumbs_up_down
                                    </i>
                                    </a>
                                {{/if}}
                            </h4>
                            <div id="seller-rating" class="rate" rating="{{this.seller.rating}}"></div>
                            {{#if noBid}}
                                <h4 style="margin-top: 10px; margin-bottom: 0px"><b>Highest Bidder: None</b></h4>
                            {{else}}
                                {{#if (isSameId lcAuthUser this.hgBidder)}}
                                    <h4 style="margin-top: 10px; margin-bottom: 0px"><b>Highest Bidder: <a
                                            href="/account/review/{{this.lcAuthUser.f_ID}}">You</a></b></h4>
                                {{else}}
                                    <h4 style="margin-top: 10px; margin-bottom: 0px"><b>Highest Bidder: </b><a
                                            id="highestBidder"
                                            href="/account/review/{{this.hgBidder.f_ID}}">{{#if
                                            (isBidder lcAuthUser)}}{{this.hgBidder.f_Name}} {{else}} {{#maskString
                                            this.hgBidder.f_Name}}{{/maskString}} {{/if}}</a></h4>
                                    <div id="bidder-rating" class="rate" rating="{{this.hgBidder.rating}}"></div>
                                {{/if}}
                            {{/if}}
                            <div id="priceStepdiv" style="margin-top: 15px;"><h4><b>Step: </b>{{this.product.priceStep}}
                                vnd
                            </h4></div>
                            <h4 style="margin-top: 10px"><b>Bid Turns: </b>{{this.bidTurns}}</h4>
                            <h4 style="margin-top: 10px" id="startDate"><b>Start from: </b>{{#getDMYOnly
                                    this.product.startDate}}{{/getDMYOnly}}</h4>
                        </div>
                        <div style="margin-top: 20px">
                            <h3 class="card-title text-info">Current: {{this.product.curPrice}} vnđ</h3>
                            {{#if lcIsAuthenticated}}
                                {{#unless (isBidOver this.product.endDate)}}
                                    {{#unless banned}}
                                        <div style="width: 100%;">
                                            <input class="quantity" id="bidPrice" style="width: 35%" name="quantity"
                                                   min="{{#nextPrice this.product.curPrice
                                                                     this.product.priceStep}}{{/nextPrice}}"
                                                   value="{{#nextPrice this.product.curPrice
                                                                       this.product.priceStep}}{{/nextPrice}}"
                                                   step="{{this.product.priceStep}}"
                                                   type="number">
                                        </div>
                                    {{/unless}}
                                {{/unless}}

                                {{#if (isBidder lcAuthUser)}}
                                    {{#if (isUserRateSuit lcRating)}}
                                        {{#unless (isBidOver this.product.endDate)}}
                                            {{#unless banned}}
                                                <button id="bidBtn" type="button" class="btn btn-primary"
                                                        style="margin-left: 0 !important; margin-top: 10px">Bid
                                                </button>
                                                <button id="buyBtn" type="button" class="btn btn-info" style="margin-top: 10px">
                                                    Buy
                                                    Now
                                                </button>
                                                <button id="auto-bid" type="button" class="btn btn-action">
                                                    Autobid
                                                </button>
                                            {{/unless}}
                                        {{/unless}}
                                    {{/if}}
                                {{/if}}
                                {{#if (isBidder lcAuthUser)}}
                                    <button id="addFavBtn" type="button" class="btn btn-outline-primary"
                                            style="margin-top: 10px">Add to Favorite
                                    </button>
                                {{/if}}
                                <button type="button" class="btn btn-outline-secondary" style="margin-top: 10px"
                                        id="historyShowBtn"
                                >Show Bid
                                    History
                                </button>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div id="endDate" class="card-footer text-center mt-4">
                    {{#if (isBidOver this.product.endDate)}}
                        <h4 class="text-warning">
                            <b>
                                Finished!!!
                            </b>
                        </h4>
                    {{else}}
                        {{#if (shouldDateRelative this.product.endDate)}}
                            <h4 class="text-warning">
                                <b>
                                    {{#getRelativeDateTime this.product.endDate}}{{/getRelativeDateTime}}
                                </b>
                            </h4>
                        {{else}}
                        <h4 class="text-info"><b>
                            {{#getFormatedDateTime this.product.endDate}}{{/getFormatedDateTime}}
                        </b>
                        {{/if}}
                    {{/if}}
                </h4>
                </div>
                <div style="margin-top: 20px">
                    {{#if (isSeller lcAuthUser)}}
                        <button type="button" class="btn btn-primary" style="width: 100%; margin-bottom: 10px"
                                onclick="window.location.href='/products/edit/{{this.product.ProID}}'">Append
                            Description
                        </button>
                    {{/if}}
                    <h4 class="card-title bg-secondary align-content-center" style="text-align: center; padding: 10px">
                        Item Description
                    </h4>
                    <div class="card-text">>
                        {{{this.product.FullDes}}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="width: 100%; margin-left: 2%; margin-right: 2%; margin-top: 20px">
        <div style="width: 100%" class="align-content-center">
            <h3>
                Similar Items
            </h3>
        </div>
        <div class="similar-carousel col-lg-12 col-sm-12" style="margin-top: 10px; padding-right: 50px;">
            {{#each this.similar}}
                <div class="card mx-1 cube">
                    <img class="card-img" src="/public/imgs/sp/{{ProID}}/main_thumbs.jpg">
                    <div class="card-title"><h5><a href="/products/{{ProID}}">{{ProName}}</a></h5></div>
                    <div class="card-text"><b>Descriptions: </b>{{TinyDes}}</div>
                    <div class="card-text"><b>Current: </b>{{curPrice}} vnd</div>
                </div>
            {{/each}}

        </div>
    </div>

</div>
